{% extends 'navbar.html' %}
{% block content %}

<div class="text-center mt-5">
    <button id="pay-btn" class="btn btn-success btn-lg">Pay Now</button>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
console.log("ORDER ID:", "{{ order_id }}");  // DEBUG

var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "name": "My Store",
    "description": "Order Payment",
    "order_id": "{{ order_id }}",

    "handler": function (response) {
        // same as before
    },

    "theme": {
        "color": "#28a745"
    },
    method: {
    upi: true
}
};
var rzp = new Razorpay(options);

document.getElementById('pay-btn').onclick = function(e){
    rzp.open();
    e.preventDefault();
};
</script>

{% endblock %}